# Dependencies
node_modules/
**/node_modules/

# Build artifacts
dist/
**/dist/
.angular/
**/angular.log

# Environment variables
.env
.env.local

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

.vercel
